textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
    width: 100%;
    margin: 5px 0;
    padding-bottom: 100px;
}

ion-button {
    margin: 20px;
    margin-right: 40px;
    margin-left: 40px;
}