.avatarcss {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.avatar {
  height: 100px;
  width: 100px;
}

ion-button {
  margin: 10px;
  height: 40px;
}

.inputcss {
  text-align: center;
  margin-left: 70px;
}